* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: rgb(211, 211, 211);
}

body {
  width: 1200px;
  margin: 0 auto;
  padding: 7px;
}

.app {
  background: rgb(49, 125, 69);
  width: 100%;
  border: 2px solid #ffffff;
  box-shadow: 0 0 50px 11px #ffffffad;
  border-radius: 7px;
  transition: height 500ms ease-in-out;
}

.header {
  height: 107px;
  padding: 15px;
  margin: 0 auto;
  background: rgb(32, 32, 32);
  color: #fff;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 3px 5px -4px #000;
}

#events-select {
  background: rgb(32, 32, 32);
  color: #fff;
  margin: 10px 35px 25px 35px;
  padding: 7px;
  height: 52px;
  width: 277px;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 7px;
}

#events-select:hover {
  box-shadow: 0px 3px 5px -3px #000;
}

.events-list-letter-divider {
  background: rgb(61, 153, 85);
  color: #ddd;
  font-size: 16;
  font-weight: 700;
}
